#map-view {
  height: 100%;
}
#map {
  height: 100%;
  }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#logo {
  position: absolute;
  top: 0px;
  left: 0px;
  border: black 1px solid;
  border-radius: 5px;
}
