/*About-Page-Layout**/
.dev-head {
  font-size: 3em;
  margin: 3em 0.5em 0.7em;
  color:#f18d00;
  font-weight: 600;
}

#dev-header-container {
  width:100%;
  margin-left: 2em;
}

 #about {
  box-sizing: border-box;
  width:100%;
  line-height: 1.6;
  padding: 5em;
  border-radius: 2em;
  background-color: #C2BFBF;
  opacity: 0.96;
}


.dev-name {
 color:#f18d00;
 font-weight: 600;
 font-size: 1.6em;
}

.about-div {
  box-sizing: border-box;
  border-radius: 1.8em;
  border: 1px solid #C2BFBF;
  background-color:#E1E8E6;
  width:70%;
  margin-left: 6em;
  margin-top: 6em;
  margin-bottom: 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  opacity: 0.96;
}

.lead{
  display: inline-block;
  line-height: 1.5;
  width: 60%;
}

.dev-pic {
  padding: 0.5em;
  margin-top: 5em;
  margin-bottom: 5em;
}

#site-nav {
  display: block;
  padding-left: 3em;
  padding-right:0.8em;
  line-height: 2.5;
}


/*If user is on a larger screen(laptop/desktop), image displays alongside info card, currently media query isnt activating*/

/*@@media only screen and (min device-width: 640px) {
  .bar-image {
    display: inline-block;
    width: 45%;
    float: right;
    padding-top: 30px;
    border-radius: 10px;
  }
  .bar-text {
    display: inline-block;
    width: 45%;
  }
}*/

/*@media only screen (min-width: 768px) and (max-width:979px) {
  #developers {
    float:left;
  }
}*/
@media(max-width:320px){
    div {
        display: block;
     }
}
@media only screen and (min-width : 320px) {
     div{
        display: block;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
     .about-div {
        margin-right: -20%;
        width:70%;
        height:50%;
    }
}
