
#user-form-container {
  /*position:absolute;
  top:30%;
  left:0;
  right:0;
  margin: 0 1em;
  z-index:2;
  padding: 1em 1em 1em 1em;
  background-color: grey;*/
  position:relative;
  top:30%;
  left:0%;
  right:0;
  margin:0 3em;
  /*padding: 2em;*/
  z-index:2;
  /*border:1px solid black;
  background-color: ;
  /*width:40%;*/
}

#user-form #user-location {
  width:38%;
  margin-right: 5%;
  padding-right: 0.4em;
}

#user-form #user-submit-btn {
  margin-left: -4%;
}
